.footer--container{
    background-color:#807d7d;
    .footer--items-container{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .footer--list-container{
        width: 100%;
        font-size:1rem;
        margin-right:5%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        li{
            margin-right:5%;
            a{
                color:white;
                text-decoration: none;
                &:hover{
                    color:red;
                }
            }
        }
    }

}